html
  head
    title= title
    style.
      body {
        background-color: #f0f0f0;
        font-family: sans-serif;
      }
      h1 {
        color: #333;
        font-size: 2em;
        text-align: center;
      }
  body
    section Hello from Render!